# Ignore these
node_modules
.env
/logs/*
/images/*

# Don't ignore these
!/images/.gitkeep
!/images/admin.png
!/images/break_room.png
!/images/default_img.png
!/images/qigong.png
!/images/welcome_back.png